@import "../../static/style/colors.scss";
.search_bar_toggler {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $palette4;
  color: $palette1;
  &:focus {
    outline: 2px solid $palette1;
  }
}