@import "../../styles/variables.scss";

.markdown-body {
  margin: 30px 0;
  padding: 20px 50px;
  border-radius: 15px;
  
  @media screen and (max-width: $mobile-width) {
    border:0;
    padding: 10px 20px;
  }
}