@import "../../styles/colors.scss";

.comment {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin-top: 2rem;
  }
  &__title {
    color: $palette1;
    font-size: 2rem;
    font-weight: 700;
  }
}