@import "../../static/style/colors.scss";

.tag_list_view {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__card {
    text-align: center;
    padding: 30px;
    width: 80vw;
    min-height: 500px;
    background-color: $palette2;
    color: $palette4;
    border-radius: 25px;
  }
}