@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.logo {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: $palette1;
  background: $logo;
  background-size: 150px 60px;
  width: 150px;
  height: 60px;
  &:focus {
    box-shadow: 0 0 0 3px $palette1;
  }
  &__image {
    width: 180px;
  }
}