.side_bar__wrapper {
  @mixin side_bar__wrapper {
    height: 100vh;
    position: absolute;
    display: flex;
    background-color: rgb(0,255,0);
    justify-content: center;
    align-items: center;
    -webkit-transition: width 0.5s, -webkit-transform 0.5s;
    transition: width 0.5s, transform 0.5s;
    overflow: hidden;
  }
  &--open {
    @include side_bar__wrapper();
    width: 300px;
  }
  &--close {
    @include side_bar__wrapper();
    width: 0px;
  }
}