@import "../../../styles/colors.scss";



.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 50px;
  left: 60px;
  height: 60px;
  width: 60px;
  padding: 22px 16px;
  border-radius: 50%;
  outline-color: $palette1;
  background-color: $palette4;
  @media screen and (max-width: 500px) {
    left: 20px;
  }
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: $palette1;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 5px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 5px;
}

.openSidebarMenu {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.openSidebarMenu:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

.openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 5px;
}

.openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -10px;
}