@import "./static/style/variables.scss";
@import "./static/style/colors.scss";

body {
  background-color: $palette3;
  
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-end;
}

.main {
  padding: 0px 10px 50px 10px;
}
.footer {
  display: flex;
  margin-top: auto;
  flex-direction: row;
  justify-content: flex-end;
  background-color: $palette1;
  color: $palette4;
  min-height: 150px;
  @media screen and (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__contents {
    display: flex;
    margin-left: auto;
    margin-right: 60px;
    width: 240px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: $mobile-width) {
      margin: 0;
      justify-content: space-around;
      width: 100%;
      margin-top: 1rem;
    }
    &__link {
      display: flex;
      color: $palette4;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      padding: 10px;
      &:focus {
        outline: 2px solid $palette4;
        border-radius: 25px;
      }
      span {
        margin-top:5px;
      }
    }
  }
  &__copyright {
    margin-top: 1rem;
    display: flex;
    margin-left: 60px;
    margin-right: 1rem;
    flex-direction: column;
    justify-content: center;
    color: $palette4;
    font-size: 13px;
    @media screen and (max-width: 500px) {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}

.left_top_float_button {}

.right_bottom_float_button {
  position: fixed;
  z-index: 3;
  top: 47px;
  right: 60px;
  @media screen and (max-width: $mobile-width) {
    right: 20px;
  }
}

a {
  color: black;
  text-decoration: none; 
  outline: none;
  box-sizing: border-box;
}

button {
  outline-color: $palette4;
}