
// https://colorhunt.co/palette/f9f7f7dbe2ef3f72af112d4e

$light-gray: #D3D3D3;


// @media (prefers-color-scheme: light) {
//   :root {
//     color-scheme: light;
//     --palette1: #24292f;
//     --palette2: #f6f8fa;
//     --palette3: #d0d7de;
//     --palette4: #ffffff;
//   }
// }
// @media (prefers-color-scheme: dark) {
//   :root {
//     color-scheme: dark;
//     --palette1: #c9d1d9;
//     --palette2: #161b22;
//     --palette3: #000;
//     --palette4: #0d1117;
//   }
// }

// $palette1: var(--palette1);
// $palette2: var(--palette2);
// $palette3: var(--palette3);
// $palette4: var(--palette4);


$palette1: #24292f;
$palette2: #f6f8fa;
$palette3: #d0d7de;
$palette4: #ffffff;
