$mobile-width: 500px;
$card-width: 320px;


@media (prefers-color-scheme: light) {
  .root {
    color-scheme: light;
    --logo: url("../public/images/logo-black.png") no-repeat;
  }
}
@media (prefers-color-scheme: dark) {
  .root {
    color-scheme: dark;
    --logo: url("../public/images/logo-white.png") no-repeat;
  }
}

$logo: var(--logo);



:export {
  mobileWidth: $mobile-width;
  cardWidth: $card-width;
}